name: {{ cookiecutter.package_name }}
channels:
  - defaults
  - pytorch
{% if cookiecutter.gpu -%}
  - nvidia
{% endif -%}
dependencies:
  - python=3.7.9
  - numpy
  - ipython
  - pytorch
  - torchvision
  - torchaudio
{% if cookiecutter.gpu -%}
  - cudatoolkit=11.1
{% endif -%}
